/* Dashboard.module.css */

.Dashboard {
  width: 100%;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  
}

.DashHeading {
  color: #006F62;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem; 
  padding-bottom: 2rem; 
  text-align: center; 
}

h4 {
  color: gray;
  font-size: 1rem; 
  text-align: center; 
  
}
