/* Dashboard.module.css */

.Dashboard {
  width: 100%;
  min-height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgray;

}

.PwaDashboard {
  width: 100vw; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.DashboardContent {
  flex: 1; 
}

.DashHeading {
  color: #006F62;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

h4 {
  color: gray;
  font-size: 1rem;
  text-align: center;
}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  margin-top: 20px;
}

.Button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background:none; 
}

.SelectedButton {
  background-color: white;
  color: #006F62; 
}

.Button:hover {
  background-color: white;
}
