/* Dashboard.module.css */

.Dashboard {
  width: 100%;
  min-height: auto; /* Change height to min-height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px; /* Add padding for better spacing */
}

.PwaDashboard {
  width: 100vw; /* Set width to 100vw for full viewport width */
  height: 100vh; /* Set height to 100vh for full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.DashboardContent {
  flex: 1; /* Fill remaining space */
}

.DashHeading {
  color: #006F62;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

h4 {
  color: gray;
  font-size: 1rem;
  text-align: center;
}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center buttons horizontally */
  margin-top: 20px; /* Add margin for better spacing */
}

.Button {
  /* Add button styles */
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent; /* Transparent background */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.SelectedButton {
  background-color: #006F62; /* Change background color for selected button */
  color: white; /* Change text color for selected button */
}

.Button:hover {
  background-color: lightgray; /* Change background color on hover */
}
