.Account {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Container {
  width: 100%;
  max-width: 500px;
}

.AccHeading {
  color: #006F62;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.UserInfo, .ChangePassword {
  width: 100%;
}

.InputGroup {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.Input {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.Input.Active {
  border-bottom: 1px solid #006F62;
}

button {
  padding: 10px 15px;
  background: #006F62;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #004D48;
}

.Error {
  color: red;
}

.StaticInfo {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
}

.UpdateMessage {
  flex: 1;
  color: green;
  padding: 10px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .InputGroup {
    flex-direction: column;
    align-items: flex-start;
  }

  .Input, .StaticInfo, .UpdateMessage {
    width: 100%;
    margin-right: 0;
  }

  button {
    width: 100%;
    margin-top: 10px;
    align-self: center;
  }

  .PasswordToggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.PasswordToggle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.ChangePasswordButton {
  background: gray;
  margin-top: 20px;
}

.UpdateButton {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
